telethon
folds @ git+https://github.com/tm-a-t/folds@c7998dc27f6bdd07b9a26d014da6c98205738a10
cryptg
pymorphy3
pymorphy3-dicts-ru
gTTS
DAWG-Python
sortedcollections
rich
requests
aiohttp
aiodns
Brotli
git-up
